html, body {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100vh;
  width: 200vw; 
}




.navbar{
    position: fixed;
    right: 7%;
    top: 0%;
    
    padding: 12px 14px;
    display: flex;
    
    align-items: center;
    z-index: 1000;
    
    overflow: hidden;
    float: right;
    
}


a{
    text-decoration: none;
    color: #000000;
    font-family: InriaLight;
}
.navbar ul {  
    display: flex;
   
}


.navbar ul li{
    position: relative;
    list-style:none ;
    margin-right: 35px;

}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;

}

.navbar li::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color:#000000 ;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;

}
.navbar ul li:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}


.Click{
    padding: 20px 10px;
    border-radius: 30px;
    background:rgba(224, 184, 51, 1);
    color: #051f20;
    font-family: Inria;
    width: 80px;
    height: 2px;

    position: fixed;
    right: 4%;
    top: 18px;
    
    display: flex;
    align-items: center;
    z-index: 100;   
    overflow: hidden;
    float: none;  
}


.sidebar{
  color: white;
  width: 100px;
  height: 50vh;
  position: fixed;
  left: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.sidebar-content {
  display: flex;
  position: relative;
  color: #000000;
  z-index: 1;
  font-family: bagel;
  font-size: 120px;
  left: 500px;
  top: -940px;
}


.project-info{
  position: relative;
  line-height: 5;
  font-family: InriaRegular;
  font-size: 20px;
  top: -900px;
  left: 1200px;
}

.obr1{
 margin-top: -1700px;
 margin-left: 1980px;
 
}

.obr2{
 margin-top: -100px;
 margin-left: 2600px;

}

.obr3{
 margin-top: -850px;
 margin-left: 3150px;

 

}



  



@media (max-width: 768px) {
.navbar ul li a{
    font-size: 15px;
    font-weight: 250;

}
  .sidebar {
    width: 40px;
  }
  .obsah{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 600px;
    margin-top: 200px;
    line-height: 5; 
  }
  .icon {
    font-size: 18px;
  }


  .Click{
     width: 45px;
  }
  .sidebar{
    right: 40px;
  }
  .sidebar-content{
    font-size: 50px;
    left: 40px;
  }

}



@font-face {
    font-family:Bagel;
    src: url(/Styles/asets/BagelFatOne-Regular.ttf);
}


@font-face {
    font-family:InriaBold;
    src: url(/Styles/asets/InriaSans-Bold.ttf);
}

@font-face {
    font-family:InriaRegular;
    src: url(/Styles/asets/InriaSans-Regular.ttf);
}

@font-face {
    font-family:InriaLight;
    src: url(/Styles/asets/InriaSans-Light.ttf);
}

@font-face {
    font-family:Inria;
    src: url(/Styles/asets/InriaSans-Italic.ttf);
}